<!DOCTYPE html>
<html lang="en">
<head>
  <title>Endless Trivia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/bc1cb63d12.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

{{!-- need to link icon to home page --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="javascript:void(0)"><i class="fa-solid fa-crown"></i></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">  
     {{#if loggedIn}}
      <a class="btn btn-success mr-3" href="#" id="logout-link" type="button">Logout</a> 
      {{else}}
      <a class="btn btn-success mr-3"  href="/login" type="button">Login</a> 
      <a class="btn btn-success mr-5"  href="/signup" type="button">Signup</a>
    {{/if}}
    
    <form class="form-inline ml-auto my-2 my-lg-0">
      <input class="form-control ml-auto mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success ml-auto my-2 my-sm-0" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</nav>

<div class="container-fluid"> 
  {{{body}}}
</div>

<footer>
  <div class= "container-fluid text-white" id="footer-container">
    <p class="text-center">Created by Team CAMMA 2022</p>
  </div>

</footer>

</body>
</html>