<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{category}}</li>
  </ol>
</nav>
<h1>Category Page</h1>
<p>You are on {{category}} page.</p>
