 <div class="jumbotron">  
     <h1>Home Page</h1>
<p>You are here to do great things.</p>
<p>Let's Get Rollin'</p>
</div>     

<ul>
    <li><a href='tag/history-trivia'>History Trivia</a></li>
    <li><a href='tag/fun-trivia'>Fun Trivia</a></li>
</ul>

